<!--
=================
Популярные бренды
=================
P.S. inline стили для динамического изменения фона через PHP
-->

<div class="large-6 medium-10 small-10 large-pull-2 float-right columns ms-popular-brand">
    <h2>Популярные бренды</h2>
    <img src="assets/img/mainpage/brands/beautyson.png" alt="" class="ms-popular-brand__images">
    <img src="assets/img/mainpage/brands/ascona.png" alt="" class="ms-popular-brand__images">
    <img src="assets/img/mainpage/brands/logo_perrino.png" alt="" class="ms-popular-brand__images">
    <img src="assets/img/mainpage/brands/toris.png" alt="" class="ms-popular-brand__images">
    <img src="assets/img/mainpage/brands/dream-inc-logo.png" alt="" class="ms-popular-brand__images">
    <img src="assets/img/mainpage/brands/logo_ormatek.png" alt="" class="ms-popular-brand__images">
    <img src="assets/img/mainpage/brands/dreamline.png" alt="" class="ms-popular-brand__images">
    <img src="assets/img/mainpage/brands/rollmatraze.png" alt="" class="ms-popular-brand__images">
</div>