<!--
=================
Как выбрать ...
=================
P.S. inline стили для динамического изменения фона через PHP
-->

<div class="large-8 medium-10 small-10 columns float-right">

    <div style="background-image: url('assets/img/mainpage/how-matr.png');" class="ms-how large-5 medium-5 small-10 hide-for-small-only columns">
        <h3 class="ms-how__header">Как выбрать матрас</h3>
        <span class="ms-how__text">Статья как правильно выбирать и подбирать матрас для Вас</span>
        <a href="javascript:void(0);" class="ms-how__link">Подробнее</a>
    </div>

    <div style="background-image: url('assets/img/mainpage/how-krov.png');" class="ms-how large-5 medium-5 small-10 hide-for-small-only columns">
        <h3 class="ms-how__header -textblue">Выбираем кровать под матрас</h3>
        <span class="ms-how__text">Статья как правильно выбирать и подбирать матрас для Вас</span>
        <a href="javascript:void(0);" class="ms-how__link">Подробнее</a>
    </div>

</div>