<!--
=================
Слайдер
=================
P.S. inline стили для динамического изменения фона через PHP
-->

<div class="ms-carousel large-8 medium-10 small-10 columns orbit" role="region" aria-label="suggested product" data-orbit data-auto-play="0">
    <ul class="orbit-container">
        <button class="orbit-previous hide-for-small-only"><img src="assets/img/mainpage/left_arrow.png" alt=""></button>
        <button class="orbit-next hide-for-small-only"><img src="assets/img/mainpage/right_arrow.png" alt=""></button>
        <li style="background-image: url('assets/img/mainpage/slidebg.png');" class="orbit-slide ms-carousel__slide">
            <h1>Новый вид матрасов<br>этой весной</h1>
            <a href="javascript:void(0);" class="button -blackrounded"><i class="fa fa-shopping-cart"></i>В корзину</a>
        </li>
        <li style="background-image: url('assets/img/mainpage/slidebg.png');" class="orbit-slide ms-carousel__slide">
            <h1>Новый вид матрасов<br>этой весной</h1>
            <a href="javascript:void(0);" class="button -blackrounded"><i class="fa fa-shopping-cart"></i>В корзину</a>
        </li>
        <li style="background-image: url('assets/img/mainpage/slidebg.png');" class="orbit-slide ms-carousel__slide">
            <h1>Новый вид матрасов<br>этой весной</h1>
            <a href="javascript:void(0);" class="button -blackrounded"><i class="fa fa-shopping-cart"></i>В корзину</a>
        </li>
    </ul>
    <nav class="orbit-bullets">
        <button class="is-active" data-slide="0"><span class="show-for-sr">First slide</span></button>
        <button data-slide="1"><span class="show-for-sr">Second slide</span></button>
        <button data-slide="2"><span class="show-for-sr">Third slide</span></button>
    </nav>
</div>
