.ms-size-tag {
  padding: 25px;
  margin-top: 25px;
  margin-bottom: 25px;
  border: 1px solid $base-border-color;
  text-align: center;
}
.ms-size-tag__link {
  padding: 5px;
  display: inline-block;
}