<div class="off-canvas position-left" id="offCanvasLeft" data-off-canvas data-position="left">
<div class="mob-sidebar">
	<div class="large-2 medium-10 small-10 columns ms-sidebar">
		<ul class="vertical menu" data-accordion-menu>
			<li>
				<a class="link ms-sidebar__accordion" href="javascript:void(0);">Акции</a>
				<ul class="menu vertical nested">
					<li><a class="ms-sidebar__link" href="javascript:void(0);">Акция 1</a></li>
					<li><a class="ms-sidebar__link" href="javascript:void(0);">Акция 2</a></li>
				</ul>
			</li>
			<li>
				<a class="link ms-sidebar__accordion" href="javascript:void(0);">Матрасы</a>
				<ul class="menu vertical nested">
					<li><a class="ms-sidebar__link" href="javascript:void(0);">Матрас 1</a></li>
					<li><a class="ms-sidebar__link" href="javascript:void(0);">Матрас 2</a></li>
				</ul>
			</li>
			<li>
				<a class="link ms-sidebar__accordion" href="javascript:void(0);">Кровати</a>
				<ul class="menu vertical nested">
					<li><a class="ms-sidebar__link" href="javascript:void(0);">Кровать 1</a></li>
					<li><a class="ms-sidebar__link" href="javascript:void(0);">Кровать 2</a></li>
				</ul>
			</li>
			<li>
				<a class="link ms-sidebar__accordion" href="javascript:void(0);">Аксессуары</a>
				<ul class="menu vertical nested">
					<li><a class="ms-sidebar__link" href="javascript:void(0);">Аксессуар 1</a></li>
					<li><a class="ms-sidebar__link" href="javascript:void(0);">Аксессуар 2</a></li>
				</ul>
			</li>
			<li>
				<a class="link ms-sidebar__accordion" href="javascript:void(0);">Мебель для спальни</a>
				<ul class="menu vertical nested">
					<li><a class="ms-sidebar__link" href="javascript:void(0);">Мебель для спальни 1</a></li>
					<li><a class="ms-sidebar__link" href="javascript:void(0);">Мебель для спальни 2</a></li>
				</ul>
			</li>
			<li>
				<a class="link ms-sidebar__accordion" href="javascript:void(0);">Производители</a>
				<ul class="menu vertical nested">
					<li><a class="ms-sidebar__link" href="javascript:void(0);">Производитель 1</a></li>
					<li><a class="ms-sidebar__link" href="javascript:void(0);">Производитель 2</a></li>
				</ul>
			</li>
		</ul>
	</div>
</div>
</div>
