<div class="off-canvas position-left" id="offCanvasLeft" data-off-canvas data-position="left">
    <div class="mob-sidebar">
        <div class="large-10 medium-10 small-10 columns ms-prodsidebar">
    <ul class="vertical menu" data-accordion-menu>
        <li>
            <a href="javascript:void(0);">Акции</a>
            <ul class="menu vertical nested">
                <li><a href="javascript:void(0);">Акция 1</a></li>
                <li><a href="javascript:void(0);">Акция 2</a></li>
            </ul>
        </li>
        <li>
            <a href="javascript:void(0);" class="is-active">Матрасы</a>
            <ul class="menu vertical nested is-active">
                <span><a href="javascript:void(0);">Взрослые матрасы</a></span>
                <li><a href="javascript:void(0);">Материал</a></li>
                <li><a href="javascript:void(0);">Производители</a></li>
                <li><a href="javascript:void(0);">Размер и форма</a></li>
                <li><a href="javascript:void(0);">Место применения</a></li>
                <span><a href="javascript:void(0);">Детские матрасы</a></span>
                <li><a href="javascript:void(0);">Материал</a></li>
                <li><a href="javascript:void(0);">Производители</a></li>
                <li><a href="javascript:void(0);">Размер и форма</a></li>
                <li><a href="javascript:void(0);">Возраст</a></li>
                <span><a href="javascript:void(0);">Наматрасники</a></span>
                <li><a href="javascript:void(0);">Назначение</a></li>
                <li><a href="javascript:void(0);">Производители</a></li>
            </ul>
        </li>
        <li>
            <a href="javascript:void(0);" class="is-active">Кровати</a>
            <ul class="menu vertical nested is-active">
                <span><a href="javascript:void(0);">Производители</a></span>
                <span><a href="javascript:void(0);">Основа для кроватей</a></span>
                <li><a href="javascript:void(0);">Особые качества</a></li>
                <li><a href="javascript:void(0);">Производители</a></li>
                <span><a href="javascript:void(0);">Кроватные боксы</a></span>
            </ul>
        </li>
        <li>
            <a href="javascript:void(0);" class="is-active">Аксессуары</a>
            <ul class="menu vertical nested is-active">
                <span><a href="javascript:void(0);">Покрывала</a></span>
                <span><a href="javascript:void(0);">Пледы</a></span>
                <span><a href="javascript:void(0);">Одеяла</a></span>
                <li><a href="javascript:void(0);">Назначение</a></li>
                <li><a href="javascript:void(0);">Производители</a></li>
                <span><a href="javascript:void(0);">Декор. наволочки</a></span>
                <span><a href="javascript:void(0);">Постельное белье</a></span>
                <li><a href="javascript:void(0);">Виды</a></li>
                <li><a href="javascript:void(0);">Возраст</a></li>
                <li><a href="javascript:void(0);">Производители</a></li>
                <span><a href="javascript:void(0);">Чехлы на мебель</a></span>
                <li><a href="javascript:void(0);">Назначение</a></li>
                <span><a href="javascript:void(0);">Подушки</a></span>
            </ul>
        </li>
        <li>
            <a href="javascript:void(0);" class="is-active">Мебель для спальни</a>
            <ul class="menu vertical nested is-active">
                <li><a href="javascript:void(0);">Мебель для спальни1</a></li>
                <li><a href="javascript:void(0);">Мебель для спальни2</a></li>
            </ul>
        </li>
        <li>
            <a href="javascript:void(0);" class="is-active">Производители</a>
            <ul class="menu vertical nested is-active">
                <li><a href="javascript:void(0);">Производители1</a></li>
                <li><a href="javascript:void(0);">Производители2</a></li>
            </ul>
        </li>
    </ul>

</div>
    </div>
</div>