@import 'single-post';

.blog-page-counter-wrap {
  background: $base-lite-color;
  border:1px solid $base-border-color;
  color: $base-font-color;
  -webkit-border-radius:25px;
  -moz-border-radius:25px;
  border-radius:25px;
  padding: 10px 25px;
  margin-right: 30px;
&:hover{
  color: #000;
  background: $base-lite-color;
  border:1px solid $accent-color;
}
  @include breakpoint(small down) {
  width: 100%;
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-radius:0;
    padding: 20px 25px;
    position: relative;
    font-weight: 500;
    color: $accent-color;
}
}
.blog-page-counter  {
  padding-left: 5px;
  @include breakpoint(small down) {
    position: absolute;
    right: 50px;
    top: 38%;
  }
  }
.blog-page-counter-wrap.active {
  background: $accent-color;
  border:none;
  color: $base-lite-color;
}
.ms-blog__post {
  h2 {
    font-size: 1.6em;
  }
a {
  color: $base-font-color;
  &:hover {
    text-decoration: underline;
  }
  @include breakpoint(small down) {
    margin-bottom: 20px;
    display: block;
  }
  }
  a.more {
    &:hover {
      text-decoration: none;
    }
  }
  a.more:after {
    content: '>';
    color: $base-font-color;
    padding-left: 10px;
  }
  .blog-post-tag {
    margin-right: 10px;
    font-size: 0.9em;
  }
}
.ms-blog-pagination {
  margin-top: 20px;
  text-transform: uppercase;
}
.ms-blog__page-header {
  text-align: center;
  border-top:1px solid $base-border-color;
  padding: 20px 0;
  h1 {
    font-size: 2em;
    font-weight: 300;
    text-transform: none;
  }
}
