.ms-number-from {
  position: relative;
  color: $base-lite-font-color;
  padding: 15px 50px 50px 50px;
  margin: 0 20px;
  display: inline-block;
  @include breakpoint(small down) {
    margin-left: 26%;
  }

    span {
    font-weight: 500;
    color: #444;
  }
  &::before {
    position: absolute;
    content: '______';
    color: $base-lite-font-color;
    top: 12px;
    left: -5px;
  }
  &::after {
    position: absolute;
    content: '______';
    color: $base-lite-font-color;
    top: 12px;
    right: -5px;
  }
}
.single-post_wrap {
  border-top: 1px solid $base-border-color;
}
.single-post_header {
  margin-top: 20px;
}
.blog-post-tag {
  color: $base-lite-font-color;
  line-height: 3;
}
.ms-share {
  color: $base-lite-font-color;
  text-transform: uppercase;
  @include breakpoint(medium down) {
    span {
      text-align: left;
    }
    img {
      margin: 20px;
    }
  }
  @include breakpoint(small down) {
    text-align: center;
    span {
      display: block;
      width: 100%;
      text-align: left;
    }
  }
  img {
    margin: 10px 10px 15px 10px;
  }
}
.ms-post-img {
  margin-bottom: 45px;
  @include breakpoint(medium down) {
    margin-bottom: 0;
  }

  }
